<!DOCTYPE html>
<html>
<head>
	<title>Index Route</title>
</head>
<body>

	<h1>Dragons - Index</h1>

	<ul>
		<%Dragons.forEach((elem, i) => {%>

			<li>
				<a href="/dragons/<%=Dragons[i].id%>"><%=elem.name%></a>

				<form action="/dragons/<%=Dragons[i].id%>/edit">
					<input type="submit" name="" value="Edit <%=Dragons[i].name%>">
				</form>
				<form action="/dragons/<%=Dragons[i].id%>?_method=DELETE" method="POST" >
					<input type="submit" name="" value="Delete <%=Dragons[i].name%>">
				</form>
			</li>

		<%});%>
	</ul>

	<form action="/dragons/new">
		<input type="submit" value="Create New Dragon">
	</form>

</body>
</html>